In [128]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import os

# Mobility ingestion

In [129]:
# Ruta a la carpeta donde están los archivos .xlsx
#ruta_carpeta = 'C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train'

In [130]:
"""
# Crear una lista para almacenar los DataFrames
lista_dfs = []

# Iterar sobre cada archivo en la carpeta
for archivo in os.listdir(ruta_carpeta):
    if archivo.endswith('.xlsx'):
        # Leer el archivo Excel
        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))
        # Añadir el DataFrame a la lista
        lista_dfs.append(df)
"""

"\n# Crear una lista para almacenar los DataFrames\nlista_dfs = []\n\n# Iterar sobre cada archivo en la carpeta\nfor archivo in os.listdir(ruta_carpeta):\n    if archivo.endswith('.xlsx'):\n        # Leer el archivo Excel\n        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))\n        # Añadir el DataFrame a la lista\n        lista_dfs.append(df)\n"

In [131]:
# Concatenar todos los DataFrames en uno solo
#df_unido = pd.concat(lista_dfs, ignore_index=True)

# Mostrar el DataFrame resultante
#df_unido.head(3)

In [132]:
# Convertir las columnas de tipo object a category
#for col in df_unido.select_dtypes(include='object').columns:
#    df_unido[col] = df_unido[col].astype('category')

In [133]:
#df_unido = df_unido.set_index('Fecha')

In [134]:
# Guardar el DataFrame en un archivo HDF5
#df_unido.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df', mode='w', format = 'table')

In [135]:
# Load the DataFrame from the HDF5 file
Mobilidad = pd.read_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df')

In [136]:
Mobilidad.head(1)

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01,0,Viernes,5,1,Enero,2021,24.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
Mobilidad.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Carril               category
 1   Fecha Trafico        datetime64[ns]
 2   Hora                 int64
 3   dia                  category
 4   dia-num              int64
 5   mes-num              int64
 6   mes                  category
 7   año                  int64
 8   Velocidad (Km/h)     float64
 9   Corredor             category
 10  sentido              category
 11  Operación            category
 12  Intensidad           float64
 13  Nº vehiculos long 1  float64
 14  Nº vehiculos long 2  float64
 15  Nº vehiculos long 3  float64
 16  Ocupación            float64
 17  Tipo de Subsistema   category
 18  Longitud             float64
 19  Latitud              float64
 20  Identificador (F/V)  category
 21  Comuna               category
 22  codigo comuna        float64
 23  nombre comuna        category
 24  Nº vehiculos long 4  float64
 25  Intensidad (veh/h)   float64
 26  Ocupación (%)        float64
 27  Categoria 1 (Veh/h)  float64
 28  Categoria 2 (Veh/h)  float64
 29  Categoria 3 (Veh/h)  float64
 30  Categoria 4 (Veh/h)  float64
dtypes: category(10), datetime64[ns](1), float64(16), int64(4)
memory usage: 2.4 GB

In [138]:
lista_carriles = ['XC-1-AV80-30A-ENT:ORI-OCC', # estacion cercana a SIATA 83
                  'XC-1-ORI-52-ENT:NOR-SUR 1', # estacion cercana a SIATA 12 
                  'DAI-INFTESORO-P1-L0', # estacion cercana a SIATA 84
                  'HK-3-C53-C94-ENT:NOR-SUR' # estacion cercana a SIATA 86
                  ]  

Mobilidad = Mobilidad[Mobilidad['Carril'].isin(lista_carriles)]

In [139]:
def missing_values(df):
    Column_Names = df.columns

    Total_rows = df.shape[0]

    missing_values = df.isnull().sum()

    Percent_missing = (missing_values / Total_rows)*100
    
    result = pd.DataFrame({
        'Column_Name': Column_Names,
        'Missing_Values': missing_values.values,
        'Total_Rows': Total_rows,
        'Percent_Missing': Percent_missing.values
    })

    return result

In [140]:
Mob = Mobilidad.copy()

In [141]:
Mob[Mob['codigo comuna'] == 4]

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2022-01-01,HK-3-C53-C94-ENT:NOR-SUR,2022-01-01 00:00:00,0,Sábado,6,1,Enero,2022,29.0,Carrera 53,...,04 - Aranjuez,4.0,Aranjuez,62.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,HK-3-C53-C94-ENT:NOR-SUR,2022-01-01 01:00:00,1,Sábado,6,1,Enero,2022,22.0,Carrera 53,...,04 - Aranjuez,4.0,Aranjuez,62.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,HK-3-C53-C94-ENT:NOR-SUR,2022-01-01 02:00:00,2,Sábado,6,1,Enero,2022,21.0,Carrera 53,...,04 - Aranjuez,4.0,Aranjuez,35.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,HK-3-C53-C94-ENT:NOR-SUR,2022-01-01 03:00:00,3,Sábado,6,1,Enero,2022,15.0,Carrera 53,...,04 - Aranjuez,4.0,Aranjuez,23.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,HK-3-C53-C94-ENT:NOR-SUR,2022-01-01 04:00:00,4,Sábado,6,1,Enero,2022,27.0,Carrera 53,...,04 - Aranjuez,4.0,Aranjuez,33.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,HK-3-C53-C94-ENT:NOR-SUR,2022-09-30 19:00:00,19,Viernes,5,9,Septiembre,2022,5.0,Carrera 53,...,4 - Aranjuez,4.0,Aranjuez,60.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-30,HK-3-C53-C94-ENT:NOR-SUR,2022-09-30 20:00:00,20,Viernes,5,9,Septiembre,2022,12.0,Carrera 53,...,4 - Aranjuez,4.0,Aranjuez,66.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-30,HK-3-C53-C94-ENT:NOR-SUR,2022-09-30 21:00:00,21,Viernes,5,9,Septiembre,2022,11.0,Carrera 53,...,4 - Aranjuez,4.0,Aranjuez,53.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-30,HK-3-C53-C94-ENT:NOR-SUR,2022-09-30 22:00:00,22,Viernes,5,9,Septiembre,2022,5.0,Carrera 53,...,4 - Aranjuez,4.0,Aranjuez,34.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-30,HK-3-C53-C94-ENT:NOR-SUR,2022-09-30 23:00:00,23,Viernes,5,9,Septiembre,2022,2.0,Carrera 53,...,4 - Aranjuez,4.0,Aranjuez,15.0,NaN,NaN,NaN,NaN,NaN,NaN

Aquellas columnas con porcentajes de datos nulos mayores a 38% se eliminan pues no aportan al modelo o aquellas columnas que dan informacion redundante como dia, mes, nombre comuna y comuna

In [142]:
# Crear el diccionario carril-comuna
diccionario_carril_comuna = {'XC-1-AV80-30A-ENT:ORI-OCC' : 16.0,
                  'XC-1-ORI-52-ENT:NOR-SUR 1':  10.0,
                  'DAI-INFTESORO-P1-L0': 14.0,
                  'HK-3-C53-C94-ENT:NOR-SUR' : 4.0
}
# Llenar los datos faltantes en la columna "codigo comuna" usando el diccionario
Mob['codigo comuna'] = Mob['codigo comuna'].fillna(Mob['Carril'].map(diccionario_carril_comuna))

In [143]:
diccionario_carril_comuna

{'XC-1-AV80-30A-ENT:ORI-OCC': 16.0,
 'XC-1-ORI-52-ENT:NOR-SUR 1': 10.0,
 'DAI-INFTESORO-P1-L0': 14.0,
 'HK-3-C53-C94-ENT:NOR-SUR': 4.0}

In [144]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                Carril               0       77627         0.000000
1         Fecha Trafico               0       77627         0.000000
2                  Hora               0       77627         0.000000
3                   dia               0       77627         0.000000
4               dia-num               0       77627         0.000000
5               mes-num               0       77627         0.000000
6                   mes               0       77627         0.000000
7                   año               0       77627         0.000000
8      Velocidad (Km/h)            1263       77627         1.627011
9              Corredor               0       77627         0.000000
10              sentido               0       77627         0.000000
11            Operación             743       77627         0.957141
12           Intensidad            2058       77627         2.651139
13  Nº vehiculos long 1            5529       77627         7.122522
14  Nº vehiculos long 2            5529       77627         7.122522
15  Nº vehiculos long 3            5529       77627         7.122522
16            Ocupación            2058       77627         2.651139
17   Tipo de Subsistema               0       77627         0.000000
18             Longitud               0       77627         0.000000
19              Latitud               0       77627         0.000000
20  Identificador (F/V)               0       77627         0.000000
21               Comuna             743       77627         0.957141
22        codigo comuna               0       77627         0.000000
23        nombre comuna             743       77627         0.957141
24  Nº vehiculos long 4           28631       77627        36.882786
25   Intensidad (veh/h)           75569       77627        97.348861
26        Ocupación (%)           75569       77627        97.348861
27  Categoria 1 (Veh/h)           72098       77627        92.877478
28  Categoria 2 (Veh/h)           72098       77627        92.877478
29  Categoria 3 (Veh/h)           72098       77627        92.877478
30  Categoria 4 (Veh/h)           76417       77627        98.441264

In [145]:
Mob = Mob.drop(['Carril', 'dia','mes','Tipo de Subsistema','Identificador (F/V)', 'Comuna', 'nombre comuna',
                'Nº vehiculos long 4', 'Intensidad (veh/h)', 'Ocupación (%)', 'Categoria 1 (Veh/h)', 
                'Categoria 2 (Veh/h)', 'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'], axis=1)

In [146]:
numerical_fea = Mob.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = Mob.select_dtypes(include = 'category').columns
print('\n','Caracteristicas categoricas: ', categorical_fea)

Caracteristicas numericas:  Index(['Hora', 'dia-num', 'mes-num', 'año', 'Velocidad (Km/h)', 'Intensidad',
       'Nº vehiculos long 1', 'Nº vehiculos long 2', 'Nº vehiculos long 3',
       'Ocupación', 'Longitud', 'Latitud', 'codigo comuna'],
      dtype='object')

 Caracteristicas categoricas:  Index(['Corredor', 'sentido', 'Operación'], dtype='object')

In [147]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       77627         0.000000
1                  Hora               0       77627         0.000000
2               dia-num               0       77627         0.000000
3               mes-num               0       77627         0.000000
4                   año               0       77627         0.000000
5      Velocidad (Km/h)            1263       77627         1.627011
6              Corredor               0       77627         0.000000
7               sentido               0       77627         0.000000
8             Operación             743       77627         0.957141
9            Intensidad            2058       77627         2.651139
10  Nº vehiculos long 1            5529       77627         7.122522
11  Nº vehiculos long 2            5529       77627         7.122522
12  Nº vehiculos long 3            5529       77627         7.122522
13            Ocupación            2058       77627         2.651139
14             Longitud               0       77627         0.000000
15              Latitud               0       77627         0.000000
16        codigo comuna               0       77627         0.000000

In [148]:
Mob['codigo comuna'].unique()

array([10., 16., 14.,  4.])

In [149]:
# Filtrar el DataFrame basado en los valores de la columna 'codigo comuna'
df_filtrado = Mob.copy()

In [150]:
missing_values(df_filtrado)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       77627         0.000000
1                  Hora               0       77627         0.000000
2               dia-num               0       77627         0.000000
3               mes-num               0       77627         0.000000
4                   año               0       77627         0.000000
5      Velocidad (Km/h)            1263       77627         1.627011
6              Corredor               0       77627         0.000000
7               sentido               0       77627         0.000000
8             Operación             743       77627         0.957141
9            Intensidad            2058       77627         2.651139
10  Nº vehiculos long 1            5529       77627         7.122522
11  Nº vehiculos long 2            5529       77627         7.122522
12  Nº vehiculos long 3            5529       77627         7.122522
13            Ocupación            2058       77627         2.651139
14             Longitud               0       77627         0.000000
15              Latitud               0       77627         0.000000
16        codigo comuna               0       77627         0.000000

A las vbles categoricas las limpio en la escritura y las codifico

In [151]:
# Función para limpiar los valores de las columnas categóricas
def clean_categorical(column):
    # Convertir a minúsculas y eliminar caracteres especiales
    return column.str.lower().str.replace(r'[^a-z0-9 ]', '', regex=True).str.strip().str.replace(r'\s+', ' ', regex=True)

In [152]:
# Aplicar la limpieza a cada columna categórica
for col in categorical_fea:
    df_filtrado[col] = clean_categorical(df_filtrado[col])

In [153]:
df_filtrado['Operación'].unique()

array(['interrumpido', 'seminterrumpido', nan], dtype=object)

In [154]:
#  Cambio los valores NaN de operacion por el valor inmediatamente anterior
df_filtrado['Operación'] = df_filtrado['Operación'].fillna(method='ffill')

C:\Users\MARIA PAULA\AppData\Local\Temp\ipykernel_17644\1619659312.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filtrado['Operación'] = df_filtrado['Operación'].fillna(method='ffill')

In [155]:
missing_values(df_filtrado)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       77627         0.000000
1                  Hora               0       77627         0.000000
2               dia-num               0       77627         0.000000
3               mes-num               0       77627         0.000000
4                   año               0       77627         0.000000
5      Velocidad (Km/h)            1263       77627         1.627011
6              Corredor               0       77627         0.000000
7               sentido               0       77627         0.000000
8             Operación               0       77627         0.000000
9            Intensidad            2058       77627         2.651139
10  Nº vehiculos long 1            5529       77627         7.122522
11  Nº vehiculos long 2            5529       77627         7.122522
12  Nº vehiculos long 3            5529       77627         7.122522
13            Ocupación            2058       77627         2.651139
14             Longitud               0       77627         0.000000
15              Latitud               0       77627         0.000000
16        codigo comuna               0       77627         0.000000

Como Operacion tiene un ordenamiento natural se usa label encoder y no one-hot

In [156]:
from sklearn.preprocessing import LabelEncoder

# Inicializar el codificador
label_encoder = LabelEncoder()

df_filtrado = df_filtrado.copy()

# Codificar la columna 'Operacion'
df_filtrado['operacion_enc'] = label_encoder.fit_transform(df_filtrado['Operación'])
# Codificsar la columna 'Corredor'
df_filtrado['corredor_enc'] = label_encoder.fit_transform(df_filtrado['Corredor'])

# Codificsar la columna 'sentido'
df_filtrado['sentido_enc'] = label_encoder.fit_transform(df_filtrado['sentido'])

In [157]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 77627 entries, 2021-01-01 to 2022-09-30
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha Trafico        77627 non-null  datetime64[ns]
 1   Hora                 77627 non-null  int64
 2   dia-num              77627 non-null  int64
 3   mes-num              77627 non-null  int64
 4   año                  77627 non-null  int64
 5   Velocidad (Km/h)     76364 non-null  float64
 6   Corredor             77627 non-null  object
 7   sentido              77627 non-null  object
 8   Operación            77627 non-null  object
 9   Intensidad           75569 non-null  float64
 10  Nº vehiculos long 1  72098 non-null  float64
 11  Nº vehiculos long 2  72098 non-null  float64
 12  Nº vehiculos long 3  72098 non-null  float64
 13  Ocupación            75569 non-null  float64
 14  Longitud             77627 non-null  float64
 15  Latitud              77627 non-null  float64
 16  codigo comuna        77627 non-null  float64
 17  operacion_enc        77627 non-null  int32
 18  corredor_enc         77627 non-null  int32
 19  sentido_enc          77627 non-null  int32
dtypes: datetime64[ns](1), float64(9), int32(3), int64(4), object(3)
memory usage: 11.5+ MB

In [158]:
knn_train = df_filtrado.drop(columns=['Fecha Trafico','Operación','Corredor','sentido'])

Iterative Imputer documentation https://scikit-learn.org/stable/modules/impute.html#iterative-imputer

In [159]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0)
df_imputed = pd.DataFrame(imputer.fit_transform(knn_train), columns=knn_train.columns)

In [160]:
missing_values(df_imputed)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                  Hora               0       77627              0.0
1               dia-num               0       77627              0.0
2               mes-num               0       77627              0.0
3                   año               0       77627              0.0
4      Velocidad (Km/h)               0       77627              0.0
5            Intensidad               0       77627              0.0
6   Nº vehiculos long 1               0       77627              0.0
7   Nº vehiculos long 2               0       77627              0.0
8   Nº vehiculos long 3               0       77627              0.0
9             Ocupación               0       77627              0.0
10             Longitud               0       77627              0.0
11              Latitud               0       77627              0.0
12        codigo comuna               0       77627              0.0
13        operacion_enc               0       77627              0.0
14         corredor_enc               0       77627              0.0
15          sentido_enc               0       77627              0.0

In [161]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77627 entries, 0 to 77626
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hora                 77627 non-null  float64
 1   dia-num              77627 non-null  float64
 2   mes-num              77627 non-null  float64
 3   año                  77627 non-null  float64
 4   Velocidad (Km/h)     77627 non-null  float64
 5   Intensidad           77627 non-null  float64
 6   Nº vehiculos long 1  77627 non-null  float64
 7   Nº vehiculos long 2  77627 non-null  float64
 8   Nº vehiculos long 3  77627 non-null  float64
 9   Ocupación            77627 non-null  float64
 10  Longitud             77627 non-null  float64
 11  Latitud              77627 non-null  float64
 12  codigo comuna        77627 non-null  float64
 13  operacion_enc        77627 non-null  float64
 14  corredor_enc         77627 non-null  float64
 15  sentido_enc          77627 non-null  float64
dtypes: float64(16)
memory usage: 9.5 MB

In [162]:
df_filtrado.reset_index(drop=True, inplace=True)

In [163]:
df_imputed['Fecha Trafico'] = df_filtrado['Fecha Trafico']

In [164]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77627 entries, 0 to 77626
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hora                 77627 non-null  float64
 1   dia-num              77627 non-null  float64
 2   mes-num              77627 non-null  float64
 3   año                  77627 non-null  float64
 4   Velocidad (Km/h)     77627 non-null  float64
 5   Intensidad           77627 non-null  float64
 6   Nº vehiculos long 1  77627 non-null  float64
 7   Nº vehiculos long 2  77627 non-null  float64
 8   Nº vehiculos long 3  77627 non-null  float64
 9   Ocupación            77627 non-null  float64
 10  Longitud             77627 non-null  float64
 11  Latitud              77627 non-null  float64
 12  codigo comuna        77627 non-null  float64
 13  operacion_enc        77627 non-null  float64
 14  corredor_enc         77627 non-null  float64
 15  sentido_enc          77627 non-null  float64
 16  Fecha Trafico        77627 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(16)
memory usage: 10.1 MB

In [165]:
conteo_comuna = df_imputed['codigo comuna'].value_counts()
print(conteo_comuna)

codigo comuna
14.0    20801
16.0    20113
10.0    19548
4.0     17165
Name: count, dtype: int64

In [166]:
# Guardar el DataFrame en un archivo HDF5
df_imputed.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/Mobilidad_1A.h5', key='df', mode='w')