In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import os

# Mobility ingestion

In [65]:
# Ruta a la carpeta donde están los archivos .xlsx
#ruta_carpeta = 'C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train'

In [66]:
"""
# Crear una lista para almacenar los DataFrames
lista_dfs = []

# Iterar sobre cada archivo en la carpeta
for archivo in os.listdir(ruta_carpeta):
    if archivo.endswith('.xlsx'):
        # Leer el archivo Excel
        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))
        # Añadir el DataFrame a la lista
        lista_dfs.append(df)
"""

"\n# Crear una lista para almacenar los DataFrames\nlista_dfs = []\n\n# Iterar sobre cada archivo en la carpeta\nfor archivo in os.listdir(ruta_carpeta):\n    if archivo.endswith('.xlsx'):\n        # Leer el archivo Excel\n        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))\n        # Añadir el DataFrame a la lista\n        lista_dfs.append(df)\n"

In [67]:
# Concatenar todos los DataFrames en uno solo
#df_unido = pd.concat(lista_dfs, ignore_index=True)

# Mostrar el DataFrame resultante
#df_unido.head(3)

In [68]:
# Convertir las columnas de tipo object a category
#for col in df_unido.select_dtypes(include='object').columns:
#    df_unido[col] = df_unido[col].astype('category')

In [69]:
#df_unido = df_unido.set_index('Fecha')

In [70]:
# Guardar el DataFrame en un archivo HDF5
#df_unido.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df', mode='w', format = 'table')

In [71]:
# Load the DataFrame from the HDF5 file
Mobilidad = pd.read_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df')

In [72]:
Mobilidad.head(3)

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,0,Viernes,5,1,Enero,2021,24.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,1,Viernes,5,1,Enero,2021,21.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2,Viernes,5,1,Enero,2021,22.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
Mobilidad[['Velocidad (Km/h)', 'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)']].describe()

,Velocidad (Km/h),Intensidad,Nº vehiculos long 1,Nº vehiculos long 2,Nº vehiculos long 3,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
count,1.382221e+07,1.353449e+07,1.235497e+07,1.235497e+07,1.235497e+07,421033.000000,415788.000000,906707.000000,906707.000000,906707.000000,218383.000000
mean,2.579401e+01,4.490326e+02,2.605609e+02,5.712253e+01,5.490094e+01,335.692537,20.641639,275.574654,27.056302,26.772090,134.813461
std,1.460356e+01,5.482331e+04,2.400246e+02,2.836758e+02,5.737212e+04,319.011072,19.975941,231.065223,42.328411,65.854136,149.206037
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500000e+01,1.380000e+02,8.700000e+01,3.000000e+00,0.000000e+00,92.000000,4.000000,97.000000,2.000000,0.000000,28.000000
50%,2.300000e+01,3.230000e+02,2.040000e+02,1.500000e+01,4.000000e+00,247.000000,14.000000,222.000000,11.000000,4.000000,92.000000
75%,3.300000e+01,6.000000e+02,3.720000e+02,5.000000e+01,2.900000e+01,483.000000,33.000000,396.000000,32.000000,19.000000,188.000000
max,2.540000e+02,2.015893e+08,1.093800e+04,9.175040e+05,2.015892e+08,5209.000000,100.000000,2496.000000,643.000000,1536.000000,1711.000000

In [74]:
Mobilidad.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Carril               category
 1   Fecha Trafico        datetime64[ns]
 2   Hora                 int64
 3   dia                  category
 4   dia-num              int64
 5   mes-num              int64
 6   mes                  category
 7   año                  int64
 8   Velocidad (Km/h)     float64
 9   Corredor             category
 10  sentido              category
 11  Operación            category
 12  Intensidad           float64
 13  Nº vehiculos long 1  float64
 14  Nº vehiculos long 2  float64
 15  Nº vehiculos long 3  float64
 16  Ocupación            float64
 17  Tipo de Subsistema   category
 18  Longitud             float64
 19  Latitud              float64
 20  Identificador (F/V)  category
 21  Comuna               category
 22  codigo comuna        float64
 23  nombre comuna        category
 24  Nº vehiculos long 4  float64
 25  Intensidad (veh/h)   float64
 26  Ocupación (%)        float64
 27  Categoria 1 (Veh/h)  float64
 28  Categoria 2 (Veh/h)  float64
 29  Categoria 3 (Veh/h)  float64
 30  Categoria 4 (Veh/h)  float64
dtypes: category(10), datetime64[ns](1), float64(16), int64(4)
memory usage: 2.4 GB

In [75]:
Mobilidad['codigo comuna'].unique()

array([ 11.,  16.,  14.,  10.,  nan,   7.,  12.,   5.,  99.,  15.,  60.,
       100., 101., 102.,   4.,   6.,  13.,   9.])

In [76]:
def missing_values(df):
    Column_Names = df.columns

    Total_rows = df.shape[0]

    missing_values = df.isnull().sum()

    Percent_missing = (missing_values / Total_rows)*100
    
    result = pd.DataFrame({
        'Column_Name': Column_Names,
        'Missing_Values': missing_values.values,
        'Total_Rows': Total_rows,
        'Percent_Missing': Percent_missing.values
    })

    return result

In [77]:
Mob = Mobilidad.copy()
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                Carril               0    13955525         0.000000
1         Fecha Trafico               0    13955525         0.000000
2                  Hora               0    13955525         0.000000
3                   dia               0    13955525         0.000000
4               dia-num               0    13955525         0.000000
5               mes-num               0    13955525         0.000000
6                   mes               0    13955525         0.000000
7                   año               0    13955525         0.000000
8      Velocidad (Km/h)          133314    13955525         0.955278
9              Corredor               0    13955525         0.000000
10              sentido               0    13955525         0.000000
11            Operación          887612    13955525         6.360291
12           Intensidad          421033    13955525         3.016963
13  Nº vehiculos long 1         1600551    13955525        11.468942
14  Nº vehiculos long 2         1600551    13955525        11.468942
15  Nº vehiculos long 3         1600551    13955525        11.468942
16            Ocupación         1109633    13955525         7.951209
17   Tipo de Subsistema               0    13955525         0.000000
18             Longitud               0    13955525         0.000000
19              Latitud               0    13955525         0.000000
20  Identificador (F/V)               0    13955525         0.000000
21               Comuna          729405    13955525         5.226640
22        codigo comuna          729405    13955525         5.226640
23        nombre comuna          729405    13955525         5.226640
24  Nº vehiculos long 4         5542958    13955525        39.718735
25   Intensidad (veh/h)        13534492    13955525        96.983037
26        Ocupación (%)        13539737    13955525        97.020621
27  Categoria 1 (Veh/h)        13048818    13955525        93.502881
28  Categoria 2 (Veh/h)        13048818    13955525        93.502881
29  Categoria 3 (Veh/h)        13048818    13955525        93.502881
30  Categoria 4 (Veh/h)        13737142    13955525        98.435150

Aquellas columnas con porcentajes de datos nulos mayores a 38% se eliminan pues no aportan al modelo

In [78]:
Mob = Mob.drop(['Carril', 'Corredor', 'sentido','Tipo de Subsistema','Identificador (F/V)',
                'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'], axis=1)

In [79]:
numerical_fea = Mob.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = Mob.select_dtypes(include = 'category').columns
print('\n','Caracteristicas categoricas: ', categorical_fea)

Caracteristicas numericas:  Index(['Hora', 'dia-num', 'mes-num', 'año', 'Velocidad (Km/h)', 'Intensidad',
       'Nº vehiculos long 1', 'Nº vehiculos long 2', 'Nº vehiculos long 3',
       'Ocupación', 'Longitud', 'Latitud', 'codigo comuna'],
      dtype='object')

 Caracteristicas categoricas:  Index(['dia', 'mes', 'Operación', 'Comuna', 'nombre comuna'], dtype='object')

In [80]:
Mob.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 19 columns):
 #   Column               Dtype
---  ------               -----
 0   Fecha Trafico        datetime64[ns]
 1   Hora                 int64
 2   dia                  category
 3   dia-num              int64
 4   mes-num              int64
 5   mes                  category
 6   año                  int64
 7   Velocidad (Km/h)     float64
 8   Operación            category
 9   Intensidad           float64
 10  Nº vehiculos long 1  float64
 11  Nº vehiculos long 2  float64
 12  Nº vehiculos long 3  float64
 13  Ocupación            float64
 14  Longitud             float64
 15  Latitud              float64
 16  Comuna               category
 17  codigo comuna        float64
 18  nombre comuna        category
dtypes: category(5), datetime64[ns](1), float64(9), int64(4)
memory usage: 1.6 GB

In [81]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0    13955525         0.000000
1                  Hora               0    13955525         0.000000
2                   dia               0    13955525         0.000000
3               dia-num               0    13955525         0.000000
4               mes-num               0    13955525         0.000000
5                   mes               0    13955525         0.000000
6                   año               0    13955525         0.000000
7      Velocidad (Km/h)          133314    13955525         0.955278
8             Operación          887612    13955525         6.360291
9            Intensidad          421033    13955525         3.016963
10  Nº vehiculos long 1         1600551    13955525        11.468942
11  Nº vehiculos long 2         1600551    13955525        11.468942
12  Nº vehiculos long 3         1600551    13955525        11.468942
13            Ocupación         1109633    13955525         7.951209
14             Longitud               0    13955525         0.000000
15              Latitud               0    13955525         0.000000
16               Comuna          729405    13955525         5.226640
17        codigo comuna          729405    13955525         5.226640
18        nombre comuna          729405    13955525         5.226640

In [82]:
valores_unicos = Mob['codigo comuna'].unique()

# Mostrar los valores únicos
print(valores_unicos)

[ 11.  16.  14.  10.  nan   7.  12.   5.  99.  15.  60. 100. 101. 102.
   4.   6.  13.   9.]

Como tenemos comunas que no se mencionan en el dataset de calidad de aire las eliminamos

In [83]:
# Lista de valores que quieres seleccionar
valores_filtrados = [10, 16, 14, 4, 8]

# Filtrar el DataFrame basado en los valores de la columna 'codigo comuna'
df_filtrado = Mob[Mob['codigo comuna'].isin(valores_filtrados)]

In [84]:
# Mostrar el DataFrame filtrado
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6160145 entries, 2021-01-01 to 2022-09-30
Data columns (total 19 columns):
 #   Column               Dtype
---  ------               -----
 0   Fecha Trafico        datetime64[ns]
 1   Hora                 int64
 2   dia                  category
 3   dia-num              int64
 4   mes-num              int64
 5   mes                  category
 6   año                  int64
 7   Velocidad (Km/h)     float64
 8   Operación            category
 9   Intensidad           float64
 10  Nº vehiculos long 1  float64
 11  Nº vehiculos long 2  float64
 12  Nº vehiculos long 3  float64
 13  Ocupación            float64
 14  Longitud             float64
 15  Latitud              float64
 16  Comuna               category
 17  codigo comuna        float64
 18  nombre comuna        category
dtypes: category(5), datetime64[ns](1), float64(9), int64(4)
memory usage: 734.4 MB

In [85]:
missing_values(df_filtrado)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0     6160145         0.000000
1                  Hora               0     6160145         0.000000
2                   dia               0     6160145         0.000000
3               dia-num               0     6160145         0.000000
4               mes-num               0     6160145         0.000000
5                   mes               0     6160145         0.000000
6                   año               0     6160145         0.000000
7      Velocidad (Km/h)           43963     6160145         0.713668
8             Operación          148213     6160145         2.405999
9            Intensidad          188616     6160145         3.061876
10  Nº vehiculos long 1          442560     6160145         7.184246
11  Nº vehiculos long 2          442560     6160145         7.184246
12  Nº vehiculos long 3          442560     6160145         7.184246
13            Ocupación          188617     6160145         3.061892
14             Longitud               0     6160145         0.000000
15              Latitud               0     6160145         0.000000
16               Comuna               0     6160145         0.000000
17        codigo comuna               0     6160145         0.000000
18        nombre comuna               0     6160145         0.000000

Se procede a la imputación de datos faltantes, haciendo uso de iterative Imputer

In [86]:
numerical_fea = df_filtrado.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = df_filtrado.select_dtypes(include = 'category').columns
print('\n','Caracteristicas categoricas: ', categorical_fea)

Caracteristicas numericas:  Index(['Hora', 'dia-num', 'mes-num', 'año', 'Velocidad (Km/h)', 'Intensidad',
       'Nº vehiculos long 1', 'Nº vehiculos long 2', 'Nº vehiculos long 3',
       'Ocupación', 'Longitud', 'Latitud', 'codigo comuna'],
      dtype='object')

 Caracteristicas categoricas:  Index(['dia', 'mes', 'Operación', 'Comuna', 'nombre comuna'], dtype='object')

In [87]:
# Función para limpiar los valores de las columnas categóricas
def clean_categorical(column):
    # Convertir a minúsculas y eliminar caracteres especiales
    return column.str.lower().str.replace(r'[^a-z0-9 ]', '', regex=True).str.strip().str.replace(r'\s+', ' ', regex=True)

In [88]:
# Aplicar la limpieza a cada columna categórica
for col in categorical_fea:
    df_filtrado[col] = clean_categorical(df_filtrado[col])

C:\Users\MARIA PAULA\AppData\Local\Temp\ipykernel_43568\4037392840.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado[col] = clean_categorical(df_filtrado[col])

In [89]:
df_filtrado['Operación'].unique()

array(['interrumpido', nan, 'seminterrumpido', 'continuo'], dtype=object)

In [90]:
# Eliminar filas con NaN
df_filtrado.dropna(subset=['Operación'], inplace=True)

C:\Users\MARIA PAULA\AppData\Local\Temp\ipykernel_43568\3060498432.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado.dropna(subset=['Operación'], inplace=True)

Como Operacion tiene un ordenamiento natural se usa label encoder y no one-hot

In [91]:
from sklearn.preprocessing import LabelEncoder

# Inicializar el codificador
label_encoder = LabelEncoder()

# Codificar la columna 'Operacion'
df_filtrado['operacion_encoded'] = label_encoder.fit_transform(df_filtrado['Operación'])

C:\Users\MARIA PAULA\AppData\Local\Temp\ipykernel_43568\4187062852.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['operacion_encoded'] = label_encoder.fit_transform(df_filtrado['Operación'])

In [92]:
df_filtrado.columns

Index(['Fecha Trafico', 'Hora', 'dia', 'dia-num', 'mes-num', 'mes', 'año',
       'Velocidad (Km/h)', 'Operación', 'Intensidad', 'Nº vehiculos long 1',
       'Nº vehiculos long 2', 'Nº vehiculos long 3', 'Ocupación', 'Longitud',
       'Latitud', 'Comuna', 'codigo comuna', 'nombre comuna',
       'operacion_encoded'],
      dtype='object')

In [93]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6011932 entries, 2021-01-01 to 2022-09-30
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   Fecha Trafico        datetime64[ns]
 1   Hora                 int64
 2   dia                  object
 3   dia-num              int64
 4   mes-num              int64
 5   mes                  object
 6   año                  int64
 7   Velocidad (Km/h)     float64
 8   Operación            object
 9   Intensidad           float64
 10  Nº vehiculos long 1  float64
 11  Nº vehiculos long 2  float64
 12  Nº vehiculos long 3  float64
 13  Ocupación            float64
 14  Longitud             float64
 15  Latitud              float64
 16  Comuna               object
 17  codigo comuna        float64
 18  nombre comuna        object
 19  operacion_encoded    int32
dtypes: datetime64[ns](1), float64(9), int32(1), int64(4), object(5)
memory usage: 940.3+ MB

In [94]:
knn_train = df_filtrado.drop(columns=['Fecha Trafico','nombre comuna','Comuna', 'dia','mes','Operación'])

In [95]:
"""
from sklearn.impute import KNNImputer

# Inicializar el KNNImputer (puedes ajustar n_neighbors según lo que necesites)
imputer = KNNImputer(n_neighbors=3, copy=False)

# Aplicar el imputer al DataFrame
df_completed = pd.DataFrame(imputer.fit_transform(knn_train), columns=knn_train.columns)
"""

#Decido usasr IterativeImputer pues el tiempo que demora Knn es excesivo por la cantidad de datos

'\nfrom sklearn.impute import KNNImputer\n\n# Inicializar el KNNImputer (puedes ajustar n_neighbors según lo que necesites)\nimputer = KNNImputer(n_neighbors=3, copy=False)\n\n# Aplicar el imputer al DataFrame\ndf_completed = pd.DataFrame(imputer.fit_transform(knn_train), columns=knn_train.columns)\n'

Iterative Imputer documentation https://scikit-learn.org/stable/modules/impute.html#iterative-imputer

In [96]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0)
df_imputed = pd.DataFrame(imputer.fit_transform(knn_train), columns=knn_train.columns)

In [97]:
missing_values(df_imputed)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                  Hora               0     6011932              0.0
1               dia-num               0     6011932              0.0
2               mes-num               0     6011932              0.0
3                   año               0     6011932              0.0
4      Velocidad (Km/h)               0     6011932              0.0
5            Intensidad               0     6011932              0.0
6   Nº vehiculos long 1               0     6011932              0.0
7   Nº vehiculos long 2               0     6011932              0.0
8   Nº vehiculos long 3               0     6011932              0.0
9             Ocupación               0     6011932              0.0
10             Longitud               0     6011932              0.0
11              Latitud               0     6011932              0.0
12        codigo comuna               0     6011932              0.0
13    operacion_encoded               0     6011932              0.0

In [98]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6011932 entries, 0 to 6011931
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   Hora                 float64
 1   dia-num              float64
 2   mes-num              float64
 3   año                  float64
 4   Velocidad (Km/h)     float64
 5   Intensidad           float64
 6   Nº vehiculos long 1  float64
 7   Nº vehiculos long 2  float64
 8   Nº vehiculos long 3  float64
 9   Ocupación            float64
 10  Longitud             float64
 11  Latitud              float64
 12  codigo comuna        float64
 13  operacion_encoded    float64
dtypes: float64(14)
memory usage: 642.1 MB

In [99]:
df_filtrado['Fecha Trafico']

Fecha
2021-01-01   2021-01-01 00:00:00
2021-01-01   2021-01-01 01:00:00
2021-01-01   2021-01-01 02:00:00
2021-01-01   2021-01-01 03:00:00
2021-01-01   2021-01-01 04:00:00
                     ...
2022-09-30   2022-09-30 19:00:00
2022-09-30   2022-09-30 20:00:00
2022-09-30   2022-09-30 21:00:00
2022-09-30   2022-09-30 22:00:00
2022-09-30   2022-09-30 23:00:00
Name: Fecha Trafico, Length: 6011932, dtype: datetime64[ns]

In [100]:
df_filtrado.reset_index(drop=True, inplace=True)

In [101]:
df_imputed['Fecha Trafico'] = df_filtrado['Fecha Trafico']

In [102]:
df_imputed = df_imputed.set_index('Fecha Trafico')

In [106]:
missing_values(df_imputed)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                  Hora               0     6011932              0.0
1               dia-num               0     6011932              0.0
2               mes-num               0     6011932              0.0
3                   año               0     6011932              0.0
4      Velocidad (Km/h)               0     6011932              0.0
5            Intensidad               0     6011932              0.0
6   Nº vehiculos long 1               0     6011932              0.0
7   Nº vehiculos long 2               0     6011932              0.0
8   Nº vehiculos long 3               0     6011932              0.0
9             Ocupación               0     6011932              0.0
10             Longitud               0     6011932              0.0
11              Latitud               0     6011932              0.0
12        codigo comuna               0     6011932              0.0
13    operacion_encoded               0     6011932              0.0

In [107]:
# Guardar el DataFrame en un archivo HDF5
df_imputed.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/Mobilidad_1A.h5', key='df', mode='w')