In [1]:
import pandas as pd
import os

# Mobility ingestion

In [2]:
# Ruta a la carpeta donde están los archivos .xlsx
ruta_carpeta = 'C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train'

In [3]:
"""
# Crear una lista para almacenar los DataFrames
lista_dfs = []

# Iterar sobre cada archivo en la carpeta
for archivo in os.listdir(ruta_carpeta):
    if archivo.endswith('.xlsx'):
        # Leer el archivo Excel
        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))
        # Añadir el DataFrame a la lista
        lista_dfs.append(df)
"""

In [4]:
# Concatenar todos los DataFrames en uno solo
df_unido = pd.concat(lista_dfs, ignore_index=True)

# Mostrar el DataFrame resultante
df_unido.head(3)

,Carril,Fecha Trafico,Fecha,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
0,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,2021-01-01,0,Viernes,5,1,Enero,2021,24.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,2021-01-01,1,Viernes,5,1,Enero,2021,21.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2021-01-01,2,Viernes,5,1,Enero,2021,22.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Convertir las columnas de tipo object a category
for col in df_unido.select_dtypes(include='object').columns:
    df_unido[col] = df_unido[col].astype('category')

In [6]:
df_unido = df_unido.set_index('Fecha')

In [7]:
# Guardar el DataFrame en un archivo HDF5
df_unido.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df', mode='w', format = 'table')

C:\Users\MARIA PAULA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tables\leaf.py:323: RuntimeWarning: overflow encountered in scalar multiply
  expected_mb = (expectedrows * rowsize) // MB

In [8]:
# Load the DataFrame from the HDF5 file
Mobilidad = pd.read_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df')

In [10]:
Mobilidad.head(3)

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,0,Viernes,5,1,Enero,2021,24.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,1,Viernes,5,1,Enero,2021,21.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2,Viernes,5,1,Enero,2021,22.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
Mobilidad.columns

Index(['Carril', 'Fecha Trafico', 'Hora', 'dia', 'dia-num', 'mes-num', 'mes',
       'año', 'Velocidad (Km/h)', 'Corredor', 'sentido', 'Operación',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'Tipo de Subsistema', 'Longitud',
       'Latitud', 'Identificador (F/V)', 'Comuna', 'codigo comuna',
       'nombre comuna', 'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'],
      dtype='object')

In [12]:
Mobilidad[['Velocidad (Km/h)', 'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)']].describe()

,Velocidad (Km/h),Intensidad,Nº vehiculos long 1,Nº vehiculos long 2,Nº vehiculos long 3,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
count,1.382221e+07,1.353449e+07,1.235497e+07,1.235497e+07,1.235497e+07,8.412567e+06,421033.000000,415788.000000,906707.000000,906707.000000,906707.000000,218383.000000
mean,2.579401e+01,4.490326e+02,2.605609e+02,5.712253e+01,5.490094e+01,7.872622e+01,335.692537,20.641639,275.574654,27.056302,26.772090,134.813461
std,1.460356e+01,5.482331e+04,2.400246e+02,2.836758e+02,5.737212e+04,1.273118e+02,319.011072,19.975941,231.065223,42.328411,65.854136,149.206037
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500000e+01,1.380000e+02,8.700000e+01,3.000000e+00,0.000000e+00,0.000000e+00,92.000000,4.000000,97.000000,2.000000,0.000000,28.000000
50%,2.300000e+01,3.230000e+02,2.040000e+02,1.500000e+01,4.000000e+00,1.500000e+01,247.000000,14.000000,222.000000,11.000000,4.000000,92.000000
75%,3.300000e+01,6.000000e+02,3.720000e+02,5.000000e+01,2.900000e+01,1.160000e+02,483.000000,33.000000,396.000000,32.000000,19.000000,188.000000
max,2.540000e+02,2.015893e+08,1.093800e+04,9.175040e+05,2.015892e+08,3.048000e+03,5209.000000,100.000000,2496.000000,643.000000,1536.000000,1711.000000

In [13]:
Mobilidad.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Carril               category
 1   Fecha Trafico        datetime64[ns]
 2   Hora                 int64
 3   dia                  category
 4   dia-num              int64
 5   mes-num              int64
 6   mes                  category
 7   año                  int64
 8   Velocidad (Km/h)     float64
 9   Corredor             category
 10  sentido              category
 11  Operación            category
 12  Intensidad           float64
 13  Nº vehiculos long 1  float64
 14  Nº vehiculos long 2  float64
 15  Nº vehiculos long 3  float64
 16  Ocupación            float64
 17  Tipo de Subsistema   category
 18  Longitud             float64
 19  Latitud              float64
 20  Identificador (F/V)  category
 21  Comuna               category
 22  codigo comuna        float64
 23  nombre comuna        category
 24  Nº vehiculos long 4  float64
 25  Intensidad (veh/h)   float64
 26  Ocupación (%)        float64
 27  Categoria 1 (Veh/h)  float64
 28  Categoria 2 (Veh/h)  float64
 29  Categoria 3 (Veh/h)  float64
 30  Categoria 4 (Veh/h)  float64
dtypes: category(10), datetime64[ns](1), float64(16), int64(4)
memory usage: 2.4 GB

In [ ]:
Mobilidad['codigo comuna'].unique()

In [ ]:
Mob = Mobilidad.copy()
Mob.columns

In [ ]:
Mob = Mob[['Fecha Trafico', 'Velocidad (Km/h)', 'Operación',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'codigo comuna',
       'nombre comuna']]

In [ ]:
Mob.set_index('Fecha Trafico')

VOY ACA, falta quitar las comunas que no necesito, arreglar nulos como lo hice en Air_organized y mirar como unir ambos dataframes para sacar la matriz de correlacion, las vbles categoricas de Mob hay que codificarlas tambien

In [ ]:
Features = pd.DataFrame(Mobilidad.drop(['Wage', 'Name'], axis=1))

numerical_fea = Features.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = Features.select_dtypes(include = 'object').columns
print('\n','Caracteristicas numericas: ', categorical_fea)

In [ ]:
Mob = Mobilidad[['Velocidad (Km/h)',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'Longitud',
       'Latitud', 'codigo comuna']]

In [ ]:
Mob.info()

In [ ]:
# Calculate the correlation matrix
correlation_matrix = Mob.corr()

# Set up the matplotlib figure
plt.figure(figsize=(10, 8))

# Create a heatmap with Seaborn
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")

# Add a title
plt.title('Correlation Matrix')

# Rotate the tick labels for better readability
plt.xticks(rotation=45)

# Show the plot
plt.show()