In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import os

# Mobility ingestion

In [ ]:
# Ruta a la carpeta donde están los archivos .xlsx
# ruta_carpeta = 'C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train'

In [ ]:
"""
# Crear una lista para almacenar los DataFrames
lista_dfs = []

# Iterar sobre cada archivo en la carpeta
for archivo in os.listdir(ruta_carpeta):
    if archivo.endswith('.xlsx'):
        # Leer el archivo Excel
        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))
        # Añadir el DataFrame a la lista
        lista_dfs.append(df)
"""

In [ ]:
# # Concatenar todos los DataFrames en uno solo
# df_unido = pd.concat(lista_dfs, ignore_index=True)

# # Mostrar el DataFrame resultante
# df_unido.head(3)

,Carril,Fecha Trafico,Fecha,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
0,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,2021-01-01,0,Viernes,5,1,Enero,2021,24.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,2021-01-01,1,Viernes,5,1,Enero,2021,21.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2021-01-01,2,Viernes,5,1,Enero,2021,22.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convertir las columnas de tipo object a category
# for col in df_unido.select_dtypes(include='object').columns:
#    df_unido[col] = df_unido[col].astype('category')

In [ ]:
# df_unido = df_unido.set_index('Fecha')

In [ ]:
# Guardar el DataFrame en un archivo HDF5
# df_unido.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df', mode='w', format = 'table')

# Load from .h5

In [12]:
# Load the DataFrame from the HDF5 file
Mobilidad = pd.read_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df')

In [13]:
Mobilidad.head(1)

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01,0,Viernes,5,1,Enero,2021,24.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
Mobilidad.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 16515663 entries, 2021-01-01 to 2023-09-30
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Carril               category
 1   Fecha Trafico        datetime64[ns]
 2   Hora                 int64
 3   dia                  category
 4   dia-num              int64
 5   mes-num              int64
 6   mes                  category
 7   año                  int64
 8   Velocidad (Km/h)     float64
 9   Corredor             category
 10  sentido              category
 11  Operación            category
 12  Intensidad           float64
 13  Nº vehiculos long 1  float64
 14  Nº vehiculos long 2  float64
 15  Nº vehiculos long 3  float64
 16  Ocupación            float64
 17  Tipo de Subsistema   category
 18  Longitud             float64
 19  Latitud              float64
 20  Identificador (F/V)  category
 21  Comuna               category
 22  codigo comuna        float64
 23  nombre comuna        category
 24  Nº vehiculos long 4  float64
 25  Intensidad (veh/h)   float64
 26  Ocupación (%)        float64
 27  Categoria 1 (Veh/h)  float64
 28  Categoria 2 (Veh/h)  float64
 29  Categoria 3 (Veh/h)  float64
 30  Categoria 4 (Veh/h)  float64
dtypes: category(10), datetime64[ns](1), float64(16), int64(4)
memory usage: 2.9 GB

In [15]:
lista_carriles = ['XC-1-AV80-30A-ENT:ORI-OCC', # estacion cercana a SIATA 83
                  'XC-1-ORI-52-ENT:NOR-SUR 1', # estacion cercana a SIATA 12 
                  'DAI-INFTESORO-P1-L0', # estacion cercana a SIATA 84
                  'HK-3-C53-C94-ENT:NOR-SUR' # estacion cercana a SIATA 86
                  ]  

Mobilidad = Mobilidad[Mobilidad['Carril'].isin(lista_carriles)]

In [16]:
def missing_values(df):
    Column_Names = df.columns

    Total_rows = df.shape[0]

    missing_values = df.isnull().sum()

    Percent_missing = (missing_values / Total_rows)*100
    
    result = pd.DataFrame({
        'Column_Name': Column_Names,
        'Missing_Values': missing_values.values,
        'Total_Rows': Total_rows,
        'Percent_Missing': Percent_missing.values
    })

    return result

In [17]:
Mob = Mobilidad.copy()

In [21]:
# Crear el diccionario carril-comuna
diccionario_carril_comuna = {'XC-1-AV80-30A-ENT:ORI-OCC' : 16.0,
                  'XC-1-ORI-52-ENT:NOR-SUR 1':  10.0,
                  'DAI-INFTESORO-P1-L0': 14.0,
                  'HK-3-C53-C94-ENT:NOR-SUR' : 4.0
}
# Llenar los datos faltantes en la columna "codigo comuna" usando el diccionario
Mob['codigo comuna'] = Mob['codigo comuna'].fillna(Mob['Carril'].map(diccionario_carril_comuna))

In [22]:
diccionario_carril_comuna

{'XC-1-AV80-30A-ENT:ORI-OCC': 16.0,
 'XC-1-ORI-52-ENT:NOR-SUR 1': 10.0,
 'DAI-INFTESORO-P1-L0': 14.0,
 'HK-3-C53-C94-ENT:NOR-SUR': 4.0}

In [23]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                Carril               0       92031         0.000000
1         Fecha Trafico               0       92031         0.000000
2                  Hora               0       92031         0.000000
3                   dia               0       92031         0.000000
4               dia-num               0       92031         0.000000
5               mes-num               0       92031         0.000000
6                   mes               0       92031         0.000000
7                   año               0       92031         0.000000
8      Velocidad (Km/h)            1712       92031         1.860243
9              Corredor               0       92031         0.000000
10              sentido               0       92031         0.000000
11            Operación             743       92031         0.807337
12           Intensidad            2058       92031         2.236203
13  Nº vehiculos long 1            5529       92031         6.007758
14  Nº vehiculos long 2            5529       92031         6.007758
15  Nº vehiculos long 3            5529       92031         6.007758
16            Ocupación            2058       92031         2.236203
17   Tipo de Subsistema               0       92031         0.000000
18             Longitud               0       92031         0.000000
19              Latitud               0       92031         0.000000
20  Identificador (F/V)               0       92031         0.000000
21               Comuna             743       92031         0.807337
22        codigo comuna               0       92031         0.000000
23        nombre comuna             743       92031         0.807337
24  Nº vehiculos long 4           35751       92031        38.846693
25   Intensidad (veh/h)           89973       92031        97.763797
26        Ocupación (%)           89973       92031        97.763797
27  Categoria 1 (Veh/h)           86502       92031        93.992242
28  Categoria 2 (Veh/h)           86502       92031        93.992242
29  Categoria 3 (Veh/h)           86502       92031        93.992242
30  Categoria 4 (Veh/h)           90821       92031        98.685226

Aquellas columnas con porcentajes de datos nulos mayores a 30% se eliminan pues no aportan al modelo o aquellas columnas que dan informacion redundante como dia, mes, nombre comuna y comuna

In [24]:
Mob = Mob.drop(['Carril', 'dia','mes','Tipo de Subsistema','Identificador (F/V)', 'Comuna', 'nombre comuna',
                'Nº vehiculos long 4', 'Intensidad (veh/h)', 'Ocupación (%)', 'Categoria 1 (Veh/h)', 
                'Categoria 2 (Veh/h)', 'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'], axis=1)

In [25]:
numerical_fea = Mob.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = Mob.select_dtypes(include = 'category').columns
print('\n','Caracteristicas categoricas: ', categorical_fea)

Caracteristicas numericas:  Index(['Hora', 'dia-num', 'mes-num', 'año', 'Velocidad (Km/h)', 'Intensidad',
       'Nº vehiculos long 1', 'Nº vehiculos long 2', 'Nº vehiculos long 3',
       'Ocupación', 'Longitud', 'Latitud', 'codigo comuna'],
      dtype='object')

 Caracteristicas categoricas:  Index(['Corredor', 'sentido', 'Operación'], dtype='object')

In [26]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       92031         0.000000
1                  Hora               0       92031         0.000000
2               dia-num               0       92031         0.000000
3               mes-num               0       92031         0.000000
4                   año               0       92031         0.000000
5      Velocidad (Km/h)            1712       92031         1.860243
6              Corredor               0       92031         0.000000
7               sentido               0       92031         0.000000
8             Operación             743       92031         0.807337
9            Intensidad            2058       92031         2.236203
10  Nº vehiculos long 1            5529       92031         6.007758
11  Nº vehiculos long 2            5529       92031         6.007758
12  Nº vehiculos long 3            5529       92031         6.007758
13            Ocupación            2058       92031         2.236203
14             Longitud               0       92031         0.000000
15              Latitud               0       92031         0.000000
16        codigo comuna               0       92031         0.000000

In [27]:
Mob['Corredor'].unique()

['Avenida Oriental', 'Calle 30A', 'Loma El Tesoro', 'Carrera 53']
Categories (109, object): ['Autopista Norte', 'Autopista Sur', 'Avenida 33', 'Avenida 34', ..., 'Transversal Inferior', 'Transversal Superior', 'Vía al Mar', 'Vía al Túnel de Occidente ']

In [28]:
# Filtrar el DataFrame basado en los valores de la columna 'codigo comuna'
df_filtrado = Mob.copy()

In [29]:
missing_values(df_filtrado)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       92031         0.000000
1                  Hora               0       92031         0.000000
2               dia-num               0       92031         0.000000
3               mes-num               0       92031         0.000000
4                   año               0       92031         0.000000
5      Velocidad (Km/h)            1712       92031         1.860243
6              Corredor               0       92031         0.000000
7               sentido               0       92031         0.000000
8             Operación             743       92031         0.807337
9            Intensidad            2058       92031         2.236203
10  Nº vehiculos long 1            5529       92031         6.007758
11  Nº vehiculos long 2            5529       92031         6.007758
12  Nº vehiculos long 3            5529       92031         6.007758
13            Ocupación            2058       92031         2.236203
14             Longitud               0       92031         0.000000
15              Latitud               0       92031         0.000000
16        codigo comuna               0       92031         0.000000

A las vbles categoricas las limpio en la escritura y las codifico

In [30]:
# Función para limpiar los valores de las columnas categóricas
def clean_categorical(column):
    # Convertir a minúsculas y eliminar caracteres especiales
    return column.str.lower().str.replace(r'[^a-z0-9 ]', '', regex=True).str.strip().str.replace(r'\s+', ' ', regex=True)

In [31]:
# Aplicar la limpieza a cada columna categórica
for col in categorical_fea:
    df_filtrado[col] = clean_categorical(df_filtrado[col])

In [32]:
df_filtrado['Corredor'].unique()

array(['avenida oriental', 'calle 30a', 'loma el tesoro', 'carrera 53'],
      dtype=object)

In [33]:
#  Cambio los valores NaN de operacion por el valor inmediatamente anterior
df_filtrado['Operación'] = df_filtrado['Operación'].fillna(method='ffill')

C:\Users\MARIA PAULA\AppData\Local\Temp\ipykernel_25336\1619659312.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filtrado['Operación'] = df_filtrado['Operación'].fillna(method='ffill')

In [34]:
missing_values(df_filtrado)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0         Fecha Trafico               0       92031         0.000000
1                  Hora               0       92031         0.000000
2               dia-num               0       92031         0.000000
3               mes-num               0       92031         0.000000
4                   año               0       92031         0.000000
5      Velocidad (Km/h)            1712       92031         1.860243
6              Corredor               0       92031         0.000000
7               sentido               0       92031         0.000000
8             Operación               0       92031         0.000000
9            Intensidad            2058       92031         2.236203
10  Nº vehiculos long 1            5529       92031         6.007758
11  Nº vehiculos long 2            5529       92031         6.007758
12  Nº vehiculos long 3            5529       92031         6.007758
13            Ocupación            2058       92031         2.236203
14             Longitud               0       92031         0.000000
15              Latitud               0       92031         0.000000
16        codigo comuna               0       92031         0.000000

Como Operacion tiene un ordenamiento natural se usa label encoder y no one-hot

In [35]:
from sklearn.preprocessing import LabelEncoder

# Inicializar el codificador
# Crear instancias separadas de LabelEncoder para cada columna
encoder_ope = LabelEncoder()
encoder_cor = LabelEncoder()
encoder_sen = LabelEncoder()

# Codificar la columna 'Operacion'
df_filtrado['operacion_enc'] = encoder_ope.fit_transform(df_filtrado['Operación'])
# Codificsar la columna 'Corredor'
df_filtrado['corredor_enc'] = encoder_cor.fit_transform(df_filtrado['Corredor'])

# Codificsar la columna 'sentido'
df_filtrado['sentido_enc'] = encoder_sen.fit_transform(df_filtrado['sentido'])

In [36]:
# Obtener diccionarios de transformación para cada columna
dict_ope = {label: index for index, label in enumerate(encoder_ope.classes_)}
dict_cor = {label: index for index, label in enumerate(encoder_cor.classes_)}
dict_sen = {label: index for index, label in enumerate(encoder_sen.classes_)}

# Mostrar los diccionarios de transformación
print("Diccionario de transformación Col1:", dict_ope)
print("Diccionario de transformación Col2:", dict_cor)
print("Diccionario de transformación Col3:", dict_sen)

Diccionario de transformación Col1: {'interrumpido': 0, 'seminterrumpido': 1}
Diccionario de transformación Col2: {'avenida oriental': 0, 'calle 30a': 1, 'carrera 53': 2, 'loma el tesoro': 3}
Diccionario de transformación Col3: {'ew': 0, 'ns': 1, 'we': 2}

In [37]:
combinaciones_unicas = df_filtrado[['codigo comuna', 'corredor_enc', 'sentido_enc']].drop_duplicates()

# Mostrar las combinaciones únicas
print("Combinaciones únicas de las columnas:")
print(combinaciones_unicas)

Combinaciones únicas de las columnas:
            codigo comuna  corredor_enc  sentido_enc
Fecha
2021-01-01           10.0             0            1
2021-01-01           16.0             1            0
2021-01-01           14.0             3            2
2022-01-01            4.0             2            1

In [38]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 92031 entries, 2021-01-01 to 2023-09-30
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha Trafico        92031 non-null  datetime64[ns]
 1   Hora                 92031 non-null  int64
 2   dia-num              92031 non-null  int64
 3   mes-num              92031 non-null  int64
 4   año                  92031 non-null  int64
 5   Velocidad (Km/h)     90319 non-null  float64
 6   Corredor             92031 non-null  object
 7   sentido              92031 non-null  object
 8   Operación            92031 non-null  object
 9   Intensidad           89973 non-null  float64
 10  Nº vehiculos long 1  86502 non-null  float64
 11  Nº vehiculos long 2  86502 non-null  float64
 12  Nº vehiculos long 3  86502 non-null  float64
 13  Ocupación            89973 non-null  float64
 14  Longitud             92031 non-null  float64
 15  Latitud              92031 non-null  float64
 16  codigo comuna        92031 non-null  float64
 17  operacion_enc        92031 non-null  int64
 18  corredor_enc         92031 non-null  int64
 19  sentido_enc          92031 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(7), object(3)
memory usage: 14.7+ MB

In [39]:
knn_train = df_filtrado.drop(columns=['Fecha Trafico','Operación','Corredor','sentido'])

Iterative Imputer documentation https://scikit-learn.org/stable/modules/impute.html#iterative-imputer

In [40]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0)
df_imputed = pd.DataFrame(imputer.fit_transform(knn_train), columns=knn_train.columns)

In [41]:
missing_values(df_imputed)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                  Hora               0       92031              0.0
1               dia-num               0       92031              0.0
2               mes-num               0       92031              0.0
3                   año               0       92031              0.0
4      Velocidad (Km/h)               0       92031              0.0
5            Intensidad               0       92031              0.0
6   Nº vehiculos long 1               0       92031              0.0
7   Nº vehiculos long 2               0       92031              0.0
8   Nº vehiculos long 3               0       92031              0.0
9             Ocupación               0       92031              0.0
10             Longitud               0       92031              0.0
11              Latitud               0       92031              0.0
12        codigo comuna               0       92031              0.0
13        operacion_enc               0       92031              0.0
14         corredor_enc               0       92031              0.0
15          sentido_enc               0       92031              0.0

In [42]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92031 entries, 0 to 92030
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hora                 92031 non-null  float64
 1   dia-num              92031 non-null  float64
 2   mes-num              92031 non-null  float64
 3   año                  92031 non-null  float64
 4   Velocidad (Km/h)     92031 non-null  float64
 5   Intensidad           92031 non-null  float64
 6   Nº vehiculos long 1  92031 non-null  float64
 7   Nº vehiculos long 2  92031 non-null  float64
 8   Nº vehiculos long 3  92031 non-null  float64
 9   Ocupación            92031 non-null  float64
 10  Longitud             92031 non-null  float64
 11  Latitud              92031 non-null  float64
 12  codigo comuna        92031 non-null  float64
 13  operacion_enc        92031 non-null  float64
 14  corredor_enc         92031 non-null  float64
 15  sentido_enc          92031 non-null  float64
dtypes: float64(16)
memory usage: 11.2 MB

In [43]:
df_filtrado.reset_index(drop=True, inplace=True)

In [44]:
df_imputed['Fecha Trafico'] = df_filtrado['Fecha Trafico']

In [48]:
df_imputed.describe().T

,count,mean,min,25%,50%,75%,max,std
Hora,92031.0,11.506873,0.0,6.0,12.0,18.0,23.0,6.921474
dia-num,92031.0,4.002945,1.0,2.0,4.0,6.0,7.0,2.000381
mes-num,92031.0,6.321924,1.0,3.0,6.0,9.0,12.0,3.323935
año,92031.0,2021.996784,2021.0,2021.0,2022.0,2023.0,2023.0,0.791574
Velocidad (Km/h),92031.0,16.595142,1.0,10.0,13.0,19.0,140.0,12.96336
Intensidad,92031.0,166.658185,0.0,64.0,138.0,225.0,1158.0,130.570235
Nº vehiculos long 1,92031.0,116.065064,-49.731478,32.0,96.951573,176.849042,717.0,96.839585
Nº vehiculos long 2,92031.0,24.285612,0.0,2.0,13.0,31.0,248.0,31.042171
Nº vehiculos long 3,92031.0,9.891814,-2.882954,0.0,3.534678,10.0,307.0,16.913161
Ocupación,92031.0,36.013847,-73.28468,11.0,32.0,58.0,100.0,27.454549
Longitud,92031.0,834499.097918,831252.0625,831252.0625,835395.4375,835859.8125,835859.8125,1912.550387
Latitud,92031.0,1182150.805566,1178087.75,1178087.75,1181124.875,1183018.5,1187109.438,3225.623007
codigo comuna,92031.0,11.240278,4.0,10.0,14.0,16.0,16.0,4.480367
operacion_enc,92031.0,0.416121,0.0,0.0,0.0,1.0,1.0,0.492917
corredor_enc,92031.0,1.504808,0.0,0.0,1.0,3.0,3.0,1.133679
sentido_enc,92031.0,1.00929,0.0,0.0,1.0,2.0,2.0,0.72207
Fecha Trafico,92031,2022-06-25 00:03:41.129836800,2021-01-01 00:00:00,2021-10-26 14:00:00,2022-07-01 05:00:00,2023-03-02 05:00:00,2023-10-31 23:00:00,NaN

In [46]:
conteo_comuna = df_imputed['codigo comuna'].value_counts()
print(conteo_comuna)

codigo comuna
14.0    24423
16.0    23568
10.0    23214
4.0     20826
Name: count, dtype: int64

In [47]:
# Guardar el DataFrame en un archivo HDF5
df_imputed.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/Mobilidad_1A.h5', key='df', mode='w')