In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import os

# Mobility ingestion

In [2]:
# Ruta a la carpeta donde están los archivos .xlsx
#ruta_carpeta = 'C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train'

In [3]:
"""
# Crear una lista para almacenar los DataFrames
lista_dfs = []

# Iterar sobre cada archivo en la carpeta
for archivo in os.listdir(ruta_carpeta):
    if archivo.endswith('.xlsx'):
        # Leer el archivo Excel
        df = pd.read_excel(os.path.join(ruta_carpeta, archivo))
        # Añadir el DataFrame a la lista
        lista_dfs.append(df)
"""

In [4]:
# Concatenar todos los DataFrames en uno solo
#df_unido = pd.concat(lista_dfs, ignore_index=True)

# Mostrar el DataFrame resultante
#df_unido.head(3)

,Carril,Fecha Trafico,Fecha,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
0,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,2021-01-01,0,Viernes,5,1,Enero,2021,24.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,2021-01-01,1,Viernes,5,1,Enero,2021,21.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2021-01-01,2,Viernes,5,1,Enero,2021,22.0,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Convertir las columnas de tipo object a category
#for col in df_unido.select_dtypes(include='object').columns:
#    df_unido[col] = df_unido[col].astype('category')

In [6]:
#df_unido = df_unido.set_index('Fecha')

In [7]:
# Guardar el DataFrame en un archivo HDF5
#df_unido.to_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df', mode='w', format = 'table')

C:\Users\MARIA PAULA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tables\leaf.py:323: RuntimeWarning: overflow encountered in scalar multiply
  expected_mb = (expectedrows * rowsize) // MB

In [4]:
# Load the DataFrame from the HDF5 file
Mobilidad = pd.read_hdf('C:/Users/MARIA PAULA/Downloads/EAFIT/Proyecto de Grado/Mobilidad/Train/df_unido.h5', key='df')

In [5]:
Mobilidad.head(3)

,Carril,Fecha Trafico,Hora,dia,dia-num,mes-num,mes,año,Velocidad (Km/h),Corredor,...,Comuna,codigo comuna,nombre comuna,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
Fecha,,,,,,,,,,,,,,,,,,,,,
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 00:00:00,0,Viernes,5,1,Enero,2021,24.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 01:00:00,1,Viernes,5,1,Enero,2021,21.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,XC-1-BOL-65-ENT:ORI-OCC,2021-01-01 02:00:00,2,Viernes,5,1,Enero,2021,22.0,Avenida Bolivariana,...,11 - Laureles Estadio,11.0,Laureles Estadio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
Mobilidad.columns

Index(['Carril', 'Fecha Trafico', 'Hora', 'dia', 'dia-num', 'mes-num', 'mes',
       'año', 'Velocidad (Km/h)', 'Corredor', 'sentido', 'Operación',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'Tipo de Subsistema', 'Longitud',
       'Latitud', 'Identificador (F/V)', 'Comuna', 'codigo comuna',
       'nombre comuna', 'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'],
      dtype='object')

In [7]:
Mobilidad[['Velocidad (Km/h)', 'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)']].describe()

,Velocidad (Km/h),Intensidad,Nº vehiculos long 1,Nº vehiculos long 2,Nº vehiculos long 3,Nº vehiculos long 4,Intensidad (veh/h),Ocupación (%),Categoria 1 (Veh/h),Categoria 2 (Veh/h),Categoria 3 (Veh/h),Categoria 4 (Veh/h)
count,1.382221e+07,1.353449e+07,1.235497e+07,1.235497e+07,1.235497e+07,8.412567e+06,421033.000000,415788.000000,906707.000000,906707.000000,906707.000000,218383.000000
mean,2.579401e+01,4.490326e+02,2.605609e+02,5.712253e+01,5.490094e+01,7.872622e+01,335.692537,20.641639,275.574654,27.056302,26.772090,134.813461
std,1.460356e+01,5.482331e+04,2.400246e+02,2.836758e+02,5.737212e+04,1.273118e+02,319.011072,19.975941,231.065223,42.328411,65.854136,149.206037
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500000e+01,1.380000e+02,8.700000e+01,3.000000e+00,0.000000e+00,0.000000e+00,92.000000,4.000000,97.000000,2.000000,0.000000,28.000000
50%,2.300000e+01,3.230000e+02,2.040000e+02,1.500000e+01,4.000000e+00,1.500000e+01,247.000000,14.000000,222.000000,11.000000,4.000000,92.000000
75%,3.300000e+01,6.000000e+02,3.720000e+02,5.000000e+01,2.900000e+01,1.160000e+02,483.000000,33.000000,396.000000,32.000000,19.000000,188.000000
max,2.540000e+02,2.015893e+08,1.093800e+04,9.175040e+05,2.015892e+08,3.048000e+03,5209.000000,100.000000,2496.000000,643.000000,1536.000000,1711.000000

In [8]:
Mobilidad.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Carril               category
 1   Fecha Trafico        datetime64[ns]
 2   Hora                 int64
 3   dia                  category
 4   dia-num              int64
 5   mes-num              int64
 6   mes                  category
 7   año                  int64
 8   Velocidad (Km/h)     float64
 9   Corredor             category
 10  sentido              category
 11  Operación            category
 12  Intensidad           float64
 13  Nº vehiculos long 1  float64
 14  Nº vehiculos long 2  float64
 15  Nº vehiculos long 3  float64
 16  Ocupación            float64
 17  Tipo de Subsistema   category
 18  Longitud             float64
 19  Latitud              float64
 20  Identificador (F/V)  category
 21  Comuna               category
 22  codigo comuna        float64
 23  nombre comuna        category
 24  Nº vehiculos long 4  float64
 25  Intensidad (veh/h)   float64
 26  Ocupación (%)        float64
 27  Categoria 1 (Veh/h)  float64
 28  Categoria 2 (Veh/h)  float64
 29  Categoria 3 (Veh/h)  float64
 30  Categoria 4 (Veh/h)  float64
dtypes: category(10), datetime64[ns](1), float64(16), int64(4)
memory usage: 2.4 GB

In [9]:
Mobilidad['codigo comuna'].unique()

array([ 11.,  16.,  14.,  10.,  nan,   7.,  12.,   5.,  99.,  15.,  60.,
       100., 101., 102.,   4.,   6.,  13.,   9.])

In [10]:
Mob = Mobilidad.copy()
Mob.columns

Index(['Carril', 'Fecha Trafico', 'Hora', 'dia', 'dia-num', 'mes-num', 'mes',
       'año', 'Velocidad (Km/h)', 'Corredor', 'sentido', 'Operación',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'Tipo de Subsistema', 'Longitud',
       'Latitud', 'Identificador (F/V)', 'Comuna', 'codigo comuna',
       'nombre comuna', 'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'],
      dtype='object')

In [11]:
def missing_values(df):
    Column_Names = df.columns

    Total_rows = df.shape[0]

    missing_values = df.isnull().sum()

    Percent_missing = (missing_values / Total_rows)*100
    
    result = pd.DataFrame({
        'Column_Name': Column_Names,
        'Missing_Values': missing_values.values,
        'Total_Rows': Total_rows,
        'Percent_Missing': Percent_missing.values
    })

    return result

In [12]:
missing_values(Mob)

            Column_Name  Missing_Values  Total_Rows  Percent_Missing
0                Carril               0    13955525         0.000000
1         Fecha Trafico               0    13955525         0.000000
2                  Hora               0    13955525         0.000000
3                   dia               0    13955525         0.000000
4               dia-num               0    13955525         0.000000
5               mes-num               0    13955525         0.000000
6                   mes               0    13955525         0.000000
7                   año               0    13955525         0.000000
8      Velocidad (Km/h)          133314    13955525         0.955278
9              Corredor               0    13955525         0.000000
10              sentido               0    13955525         0.000000
11            Operación          887612    13955525         6.360291
12           Intensidad          421033    13955525         3.016963
13  Nº vehiculos long 1         1600551    13955525        11.468942
14  Nº vehiculos long 2         1600551    13955525        11.468942
15  Nº vehiculos long 3         1600551    13955525        11.468942
16            Ocupación         1109633    13955525         7.951209
17   Tipo de Subsistema               0    13955525         0.000000
18             Longitud               0    13955525         0.000000
19              Latitud               0    13955525         0.000000
20  Identificador (F/V)               0    13955525         0.000000
21               Comuna          729405    13955525         5.226640
22        codigo comuna          729405    13955525         5.226640
23        nombre comuna          729405    13955525         5.226640
24  Nº vehiculos long 4         5542958    13955525        39.718735
25   Intensidad (veh/h)        13534492    13955525        96.983037
26        Ocupación (%)        13539737    13955525        97.020621
27  Categoria 1 (Veh/h)        13048818    13955525        93.502881
28  Categoria 2 (Veh/h)        13048818    13955525        93.502881
29  Categoria 3 (Veh/h)        13048818    13955525        93.502881
30  Categoria 4 (Veh/h)        13737142    13955525        98.435150

In [13]:
Mob = Mob.drop(['Carril', 'Corredor', 'sentido','Tipo de Subsistema','Identificador (F/V)',
                'Nº vehiculos long 4', 'Intensidad (veh/h)',
       'Ocupación (%)', 'Categoria 1 (Veh/h)', 'Categoria 2 (Veh/h)',
       'Categoria 3 (Veh/h)', 'Categoria 4 (Veh/h)'], axis=1)

VOY ACA, falta quitar las comunas que no necesito, arreglar nulos como lo hice en Air_organized y mirar como unir ambos dataframes para sacar la matriz de correlacion, las vbles categoricas de Mob hay que codificarlas tambien

In [14]:
numerical_fea = Mob.select_dtypes(include = np.number).columns
print('Caracteristicas numericas: ', numerical_fea)

categorical_fea = Mob.select_dtypes(include = 'category').columns
print('\n','Caracteristicas numericas: ', categorical_fea)

Caracteristicas numericas:  Index(['Hora', 'dia-num', 'mes-num', 'año', 'Velocidad (Km/h)', 'Intensidad',
       'Nº vehiculos long 1', 'Nº vehiculos long 2', 'Nº vehiculos long 3',
       'Ocupación', 'Longitud', 'Latitud', 'codigo comuna'],
      dtype='object')

 Caracteristicas numericas:  Index(['dia', 'mes', 'Operación', 'Comuna', 'nombre comuna'], dtype='object')

In [15]:
Mob = Mobilidad[['Velocidad (Km/h)',
       'Intensidad', 'Nº vehiculos long 1', 'Nº vehiculos long 2',
       'Nº vehiculos long 3', 'Ocupación', 'codigo comuna']]

In [16]:
Mob.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13955525 entries, 2021-01-01 to 2022-09-30
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   Velocidad (Km/h)     float64
 1   Intensidad           float64
 2   Nº vehiculos long 1  float64
 3   Nº vehiculos long 2  float64
 4   Nº vehiculos long 3  float64
 5   Ocupación            float64
 6   Longitud             float64
 7   Latitud              float64
 8   codigo comuna        float64
dtypes: float64(9)
memory usage: 1.0 GB

In [17]:
missing_values(Mob)

           Column_Name  Missing_Values  Total_Rows  Percent_Missing
0     Velocidad (Km/h)          133314    13955525         0.955278
1           Intensidad          421033    13955525         3.016963
2  Nº vehiculos long 1         1600551    13955525        11.468942
3  Nº vehiculos long 2         1600551    13955525        11.468942
4  Nº vehiculos long 3         1600551    13955525        11.468942
5            Ocupación         1109633    13955525         7.951209
6             Longitud               0    13955525         0.000000
7              Latitud               0    13955525         0.000000
8        codigo comuna          729405    13955525         5.226640

In [26]:
valores_unicos = Mob['codigo comuna'].unique()

# Mostrar los valores únicos
print(valores_unicos)

[ 11.  16.  14.  10.  nan   7.  12.   5.  99.  15.  60. 100. 101. 102.
   4.   6.  13.   9.]

Se intenta a partir de la latitud y la longitud llenar los valroes vacios de codigo comuna, sin emabrgo, los datos de esas columna No corresponden a valores de latitud y longitud de estas formas:

* Grados decimales (DD): 41.40338, 2.17403
* Grados, minutos y segundos (DMS): 41°24'12.2"N 2°10'26.5"E
* Grados y minutos decimales (DMM): 41 24.2028, 2 10.4418

Por lo que no se puede obtener información de esas columnas se procede a eliminarlas junto con las filas del dataframe donde el codigo comuna sea NaN

In [41]:
#Eliminar columnas de longitud y latitud
Mob = Mob.drop(['Latitud','Longitud'], axis=1)

# Eliminar las filas donde 'codigo comuna' tiene un valor NaN
df_limpio = Mob.dropna(subset=['codigo comuna'])

# Lista de valores que quieres seleccionar
valores_filtrados = [10, 16, 14, 4, 8]

# Filtrar el DataFrame basado en los valores de la columna 'codigo comuna'
df_filtrado = df_limpio[df_limpio['codigo comuna'].isin(valores_filtrados)]

# Mostrar el DataFrame filtrado
df_filtrado.describe()

,Velocidad (Km/h),Intensidad,Nº vehiculos long 1,Nº vehiculos long 2,Nº vehiculos long 3,Ocupación,codigo comuna
count,6.116182e+06,5.971529e+06,5.717585e+06,5.717585e+06,5.717585e+06,5.971528e+06,6.160145e+06
mean,2.486211e+01,3.549596e+02,2.120708e+02,3.567738e+01,5.617940e+01,2.458030e+01,1.260660e+01
std,1.436233e+01,8.253255e+04,1.799307e+02,3.915684e+02,8.433481e+04,2.336817e+01,2.881839e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
25%,1.500000e+01,1.060000e+02,6.900000e+01,1.000000e+00,0.000000e+00,5.000000e+00,1.000000e+01
50%,2.200000e+01,2.540000e+02,1.670000e+02,9.000000e+00,2.000000e+00,1.700000e+01,1.400000e+01
75%,3.200000e+01,4.680000e+02,3.130000e+02,3.100000e+01,1.300000e+01,3.900000e+01,1.400000e+01
max,2.540000e+02,2.015893e+08,2.646000e+03,9.175040e+05,2.015892e+08,1.000000e+02,1.600000e+01

In [43]:
missing_values(df_filtrado)

           Column_Name  Missing_Values  Total_Rows  Percent_Missing
0     Velocidad (Km/h)           43963     6160145         0.713668
1           Intensidad          188616     6160145         3.061876
2  Nº vehiculos long 1          442560     6160145         7.184246
3  Nº vehiculos long 2          442560     6160145         7.184246
4  Nº vehiculos long 3          442560     6160145         7.184246
5            Ocupación          188617     6160145         3.061892
6        codigo comuna               0     6160145         0.000000

Se procede a la imputación de datos